extends layout

block append head
    script(src='/javascripts/dynamic.js')

block content
  div
    table.redTable
      thead
        tr
          th Product ID
          th Name
          th Category
          th Cost
        //-   th Description
      tfoot
        tr
            td(colspan="4")
                .links
                    script.
                        var page = #{page};
                        var pages = #{pages};
                        var size = #{size};
                        addAnchors(page, pages, size);

      tbody
        each product in products
          tr
            td 
              a(href=`/products/${product.id}`)= product.id
            td= product.name
            td= product.category
            td= product.cost
            //- td= doc.doc_description
